.btn{
    background-color:  turquoise;
    border-color: turquoise;
    color:white;
    margin-left: 110px;
    width:22%;
    padding:10px;
    -webkit-box-shadow: 0 3px 5px -3px #000;
-moz-box-shadow: 0 3px 5px -3px #000;
box-shadow: 0 3px 5px -3px #000;
   
}
.btn:hover{
    background-color:  turquoise;
    border-color: turquoise;
}
.fields{
    width:40%;
    padding: 5px 10px 5px;
    box-sizing: border-box;
    font-size:15px;
    font-family: Futura;
    border: 1px solid black;
}
.form{
    margin-left:500px;
    margin-top:20px;
}
p{
    color:black;
    margin-left:110px;
    margin-top:12px;
    
}
.check{
    color:grey; 
}
Form.Check{
    border:1px solid black;
}
a{
    color:darkturquoise;
    font-weight:100 ;

}
.pass{
    
    margin-left:350px;
    font-size: small;
}
.form-control{
    padding:-5px;
    height:28px;
}
h5{
    color:darkturquoise;
    font-weight:100 ;
}
.interest_btn{
border: 1px solid darkturquoise;
padding:8px;
background-color: white;
width:10%;
}
.next{
    background-color:  turquoise;
    border-color: turquoise;
    color:white;
    margin-left: 110px;
    width:10%;
    -webkit-box-shadow: 0 3px 5px -3px #000;
-moz-box-shadow: 0 3px 5px -3px #000;
box-shadow: 0 3px 5px -3px #000;
border-radius: 5px;
padding:5px;
align-items: center;
margin-left:340px;
   
}
h4{
    color:darkturquoise;
    font-weight:bold ;
}
.location{
    color:grey;
}
.btn1{
    background-color:  turquoise;
    border-color: turquoise;
    color:white;
    margin-left: 133px;
    width:28%;
    padding:8px;
    -webkit-box-shadow: 0 3px 5px -3px #000;
-moz-box-shadow: 0 3px 5px -3px #000;
box-shadow: 0 3px 5px -3px #000;
border-radius: 5px;
font-size: larger;
   
}
.fields1{
    width:85%;
    padding: 18px ;
    box-sizing: border-box;
    font-size:larger;
    font-family: Futura;
    border: 1px solid black;
}
.pass1{
    
    margin-left:120px;
    font-size: large;
    font-style: none;
}
.pass2{
    
    margin-left:120px;
    font-size: 20px;
    font-style: none;
    color:darkturquoise;
}
.otp{
    
    margin-left:60px;
    font-size: 30px;
    font-style: none;
   
}
.box{
    margin-left:60px;
    font-size: 20px;
    text-align:center;
    border:1px solid darkturquoise;
    -ms-text-kashida-space: ;
}